@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*
    rosa: #fe949e
    Amarelo: #fce762
    Branco: #FFFDED
    Lilás: 4f4789
    Roxo: 201335
*/

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh; 
    display: flex;
}

.app-container {
    display: flex;
}

.sidebar {
    width: 15%;
    padding: 20px;
    background-color: #4f4789;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    font-family: 'Playfair Display';
}

.logo {
    width: 50%;
    height: auto; 
    border-radius: 50%;
    margin-bottom: 10px; 
}

.box-saldo {
    background-color: #f4f4f4;
    width: 95%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.saldo{
    font-size: 1.5vw;
    font-weight: bolder;
    margin: 1%;
    font-family: 'Playfair Display';
}

.btn-side {
    background-color: #4f4789;
    border-radius: 20px;
    width: 95%;
    margin-top: 7vh;
    padding: 10px 20px;
    font-size: 1.4vw;
    font-family: 'Playfair Display';
    text-decoration: none;
    color: white;
    border: 0px solid white;
    transition: background-color 0.3s ease;
}

.btn-side:hover {
    background-color: #FFFDED; 
    color: #4f4789;
}

h1,h2{
    color: #4f4789;
    font-family: 'Playfair Display';
    
}
.main-content {
    flex: 1;
    padding: 20px;
    width: 100%;
}

.app-container,.balance-container,
.centered,
.transaction-container,
.mine-button-container {
    text-align: center;
}

.transaction-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    height: 50vh;   
}

#transactionList {
    display: flex;
    flex-direction: column;
    white-space: nowrap; 
}

.transaction {
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.transaction:hover{
    background-color: #B7ADFF;
}

.btn-miners{
    background-color: #f9f9f9;
}

.transactionCheckbox {
    margin-right: 10px;
    width: 2%;
}

.miner-lula{
    margin-top: 5vh;
    width: 25vh;
}

.mine-button{

    background-color: #4f4789;
    border-radius: 20px;
    width: 20%;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 0px solid white;
    font-weight: bolder;
    transition: background-color 0.3s ease;
    
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #888;
    width: 25%;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .fechar {
    color: #4f4789;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .fechar:hover,
  .fechar:focus {
    text-decoration: none;
    cursor: pointer;
  }


.campos{
    margin-top: 10px;
}

.ipt{
    width: 80%;
    font-size: 16px;
    border: 1px solid #4f4789;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

  .btn-form {
    background-color: #4f4789;
    border-radius: 20px;
    width: 80%;
    margin-top: 20px;
    justify-content: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2vh;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 0px solid white;
    font-weight: bolder;
    transition: background-color 0.3s ease;
}

  .btn-fomr:hover {
    background-color: #FFFDED; 
    color: #4f4789;
  }

  .alert {
    position: absolute;
    top: 15px; 
    left: 400px; 
    width: 60%; 
    z-index: 1000; 
}