@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*
    rosa: #fe949e
    Amarelo: #fce762
    Branco: #FFFDED
    Lilás: 4f4789
    Roxo: 201335
*/
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh; 
    display: flex;
}

.app-container {
    flex: 1;
    display: flex;
    max-width: 100vw; 
    overflow: hidden; 
}

.sidebar {
    width: 15%;
    padding: 20px;
    background-color: #4f4789;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    font-family: 'Playfair Display';
}

.logo {
    width: 50%;
    height: auto; 
    border-radius: 50%;
    margin-bottom: 10px; 
}

.box-saldo{
    background-color: #f4f4f4;
    width: 95%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.saldo{
    font-size: 24px;
    font-weight: bolder;
}

.btn-side {
    background-color: #4f4789;
    border-radius: 20px;
    width: 95%;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 0px solid white;
    font-weight: bolder;
    transition: background-color 0.3s ease;
  }

  .btn-side:hover {
    background-color: #FFFDED; 
    color: #4f4789;
  }
h1{
    color: #4f4789;
}
.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto; 
}

.balance-container,
.centered,
.transaction-container,
.mine-button-container {
    text-align: center;
}

.balance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.transaction-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    max-height: 300px; 
    overflow-y: auto; 
}

#transactionList {
    white-space: nowrap;
}

.transaction {
    display: inline-block;
    margin-right: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.transactionCheckbox {
    margin-right: 10px;
}

.transaction-details {
    display: flex;
    justify-content: space-between;
}

.transaction-info {
    flex: 1;
}

.mine-button-container {
    margin-top: 20px;
}

/*button {
    padding: 10px;
    background-color: #b700ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}*/

#mineButton{
    margin-top: 20px;
}